<a class="btn btn-sm btn-default items_link" href="{{ admin.generateObjectUrl('items', object) }}" title="Menu Items">
    <i class="fa fa-bars" aria-hidden="true"></i>{% trans from "ProdigiousSonataMenuBundle" %}config.label_menu_items{% endtrans %}
</a>
